<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Photographers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/profile_menu.css">
    <link rel="stylesheet" href="../css/profile.css">
</head>

<body>

    <header>
        <div class="header-content">
            <div class="container clearfix">
                <div class="userInfo clearfix">
                    <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                    <a class="messages" href="javascript:void(0)">
                        <i class="icon-icon10"></i>
                        <span>21</span>
                    </a>
                    <a class="score" href="score.html">Магазин</a>
                    <div class="info">
                        <select>
                            <option value="1">Иван Иванов</option>
                            <option value="1">Иван Иванов2</option>
                            <option value="1">Иван Иванов3</option>
                        </select>
                    </div>
                </div>
                <div class="menu-logo clearfix">
                    <span class="open-menu">
                        <span></span>
                    </span>
                    <div class="mobile-mainMenu" id="mobile-mainMenu">
                        <span class="closeBtn"></span>
                        <div class="mobile-content">
                            <nav class="userMenu">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon15"></i>Новости<span></span></a></li>
                                    <li class="active"><a href="javascript:void(0)"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon13"></i>Компании<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon19"></i>Видео<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon7"></i>Товары<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                                    <li><a href="javascript:void(0)"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                                </ul>
                            </nav>
                            <nav class="userMenu-2">
                                <ul>
                                    <li class="active"><a href="specialists.html">Специалисты</a></li>
                                    <li><a href="organizations.html">Организации</a></li>
                                    <li><a href="events.html">События</a></li>
                                    <li><a href="projects.html">Проекты</a></li>
                                </ul>
                            </nav>
                            <ul class="social">
                                <li><a href="javascript:void(0)"><i class="icon-icon34"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                    <form>
                        <input type="text">
                        <button><i class="icon-icon25"></i></button>
                    </form>
                    <nav class="desktop-mainMenu">
                        <ul>
                            <li class="active"><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="projects.html">Проекты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="bread-crumbs">
        <div class="container">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Профиль</span></li>
            </ul>
        </div>
    </div>

    <section class="profile">
        <div class="container clearfix">
            <div class="profile-menu">
                <ul>
                    <li><a href="profile-expert.html"><i class="icon-icon5"></i>Моя страницы<span></span></a></li>
                    <li><a href="profile-news.html"><i class="icon-icon15"></i>Новости<span></span></a></li>
                    <li class="active"><a href="profile-messages.html"><i class="icon-icon10"></i>Сообщения<span>3</span></a></li>
                    <li><a href="profile-friends.html"><i class="icon-icon13"></i>Друзья<span></span></a></li>
                    <li><a href="profile-company.html"><i class="icon-icon13"></i>Компании<span></span></a></li>
                    <li><a href="profile.html"><i class="icon-icon17"></i>Проекты<span></span></a></li>
                    <li><a href="profile-foto.html"><i class="icon-icon14"></i>Фотографии<span></span></a></li>
                    <li><a href="profile-video.html"><i class="icon-icon19"></i>Видео<span></span></a></li>
                    <li><a href="profile-products.html"><i class="icon-icon7"></i>Товары<span></span></a></li>
                    <li><a href="profile-bookmarks.html"><i class="icon-icon3"></i>Закладки<span></span></a></li>
                    <li><a href="profile-reviews.html"><i class="icon-icon16"></i>Отзывы<span></span></a></li>
                </ul>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner.jpg" alt="banner">
                </a>
                <a href="javascript:void(0)" class="banner">
                    <img src="../img/banner2.png" alt="banner">
                </a>
            </div>
            <div class="profile-bookmarks">
                <div class="projects-nav">
                    <div class="nav">
                        <ul>
                            <li class="filter-items filter-items active" data-tab="publicationsTab"><a href="javascript:void(0)">Публикации</a></li>
                            <li class="filter-items filter-items" data-tab="photosTab"><a href="javascript:void(0)">Фото</a></li>
                            <li class="filter-items filter-items" data-tab="videoTabs"><a href="javascript:void(0)">Видео</a></li>
                            <li class="filter-items filter-items" data-tab="specTab"><a href="javascript:void(0)">Специалисты</a></li>
                            <li class="filter-items filter-items" data-tab="companyTab"><a href="javascript:void(0)">Компании</a></li>
                            <li class="filter-items filter-items" data-tab="groupTab"><a href="javascript:void(0)">Группы</a></li>
                            <li class="filter-items filter-items" data-tab="actTab"><a href="javascript:void(0)">Мероприятия</a></li>
                            <li class="filter-items filter-items" data-tab="projectsTab"><a href="javascript:void(0)">Проекты</a></li>
                            <li class="filter-items filter-items" data-tab="productsTab"><a href="javascript:void(0)">Товары</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item publicationsTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item photosTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img5.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img5.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img6.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img6.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img7.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img7.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img8.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img8.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item videoTabs">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item specTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item companyTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item groupTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item actTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item projectsTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
                <div class="bookmarks-content active tab-item productsTab">
                    <div class="bookmarks-search">
                        <form class="clearfix">
                            <div class="search">
                                <input type="text" placeholder="Название">
                                <button><i class="icon-icon25"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="year-items">
                        <div class="year-item clearfix">
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img4.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img4.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img1.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img1.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img3.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img3.png"></a>
                            </div>
                            <div class="year-item-img" style="background: url('../img/bookmarks-item-img2.png') no-repeat 50% 50%; background-size: cover;">
                                <a class="imgLink" data-fancybox="gallery" href="../img/bookmarks-item-img2.png"></a>
                            </div>
                        </div>

                        <div class="pagination">
                            <a class="arrow-prev" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                            <ul>
                                <li><a class="active" href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                            </ul>
                            <a class="arrow-next" href="javascript:void(0)"><i class="icon-icon28"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="container">
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <div class="footer-content clearfix">
                    <nav>
                        <ul>
                            <li><a href="specialists.html">Специалисты</a></li>
                            <li><a href="organizations.html">Организации</a></li>
                            <li><a href="events.html">События</a></li>
                            <li><a href="score.html">Магазин</a></li>
                        </ul>
                    </nav>
                    <ul class="sosial">
                        <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                    </ul>
                    <p>© 2018 Все права защищены</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/jquery.fancybox.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/profile.min.js"></script>
</body>

</html>