<div class="creationChat_popup">
    <div class="closeBtn"></div>
    <div class="heading">
        <p>Создать беседу</p>
    </div>
    <div class="content">
        <div class="actions">
            <form>
                <div class="flex-wrap">
                    <div class="form-input">
                        <i class="icon-icon5"></i>
                        <input type="text" placeholder="Введите название беседы">
                    </div>
                    <div class="form-button">
                        <button>Перейти к диалогу</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="usersList mCustomScrollbar">
            <div class="checkbox-item">
                <label for="user1">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user1" type="checkbox" checked>
            </div>
            <div class="checkbox-item">
                <label for="user2">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user2" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user3">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user3" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user4">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user4" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user5">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user5" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user6">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user6" type="checkbox" checked>
            </div>
            <div class="checkbox-item">
                <label for="user7">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user7" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user8">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user8" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user9">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user9" type="checkbox">
            </div>
            <div class="checkbox-item">
                <label for="user10">
                    <img src="../img/messages-item1.png" alt="">
                    Иван Иванов
                </label>
                <input id="user10" type="checkbox">
            </div>
        </div>
    </div>
</div>