<footer>
    <div class="footer-container">
        <div class="container">
            <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
            <div class="footer-content clearfix">
                <nav>
                    <ul>
                        <li><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                    </ul>
                </nav>
                <ul class="sosial">
                    <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                </ul>
                <p>© 2018 Все права защищены</p>
            </div>
        </div>
    </div>
</footer>