<header>
    <div class="header-content">
        <div class="container clearfix">
            <div class="check-entrance clearfix">
                <a class="check" href="sign-in.html"><i class="icon-icon36"></i>Вход</a>
                <a class="entrance" href="register-form.html"><i class="icon-icon5"></i>Регистрация</a>
            </div>
            <div class="menu-logo clearfix">
                <span class="open-menu">
                    <span></span>
                </span>
                <div class="mobile-mainMenu" id="mobile-mainMenu">
                    <span class="closeBtn"></span>
                    <div class="mobile-content">
                        <nav>
                            <ul>
                                <li class="active"><a href="specialists.html">Специалисты</a></li>
                                <li><a href="organizations.html">Организации</a></li>
                                <li><a href="events.html">События</a></li>
                                <li><a href="score.html">Магазин</a></li>
                                <li><a href="projects.html">Проекты</a></li>
                            </ul>
                        </nav>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                        </ul>
                    </div>
                </div>
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <form>
                    <input type="text">
                    <button><i class="icon-icon25"></i></button>
                </form>
                <nav class="desktop-mainMenu">
                    <ul>
                        <li class="active"><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                        <li><a href="projects.html">Проекты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>