<div class="notifications_popup">
    <div class="closeBtn"></div>
    <div class="heading">
        <p>Мои уведомления</p>
    </div>
    <div class="content">
        <div class="item">
            <div class="item-img">
                <img src="../img/search_page/publication-avatar.png" alt="avatar">
            </div>
            <div class="item-msg">
                <p class="author">
                    Иван Иванов
                </p>
                <p class="text">А возможна ли выездная съем...</p>
            </div>
        </div>
        <div class="item">
            <div class="item-img">
                <img src="../img/search_page/publication-avatar.png" alt="avatar">
            </div>
            <div class="item-msg">
                <p class="author">
                    Иван Иванов
                </p>
                <div class="text">
                    <p>А возможна ли выездная съем...</p>
                </div>
            </div>
        </div>
    </div>
</div>