<div class="notifications">
    <div class="notification show">
        <div class="closeBtn"></div>
        <a href="javascript:void(0)"></a>
        <div class="notification-img">
            <img src="../img/search_page/publication-avatar.png" alt="avatar">
        </div>
        <div class="notification-msg">
            <div class="top">
                <p>Иван Иванов</p>
                <span>оставил комментарий:</span>
            </div>
            <div class="text">
                <p>А возможна ли выездная съемка в Мурманске на оooooooo</p>
            </div>
        </div>
    </div>

    <div class="notification show">
        <div class="closeBtn"></div>
        <a href="profile-messages2.html"></a>
        <div class="notification-img">
            <img src="../img/search_page/publication-avatar.png" alt="avatar">
        </div>
        <div class="notification-msg">
            <div class="top">
                <p>Иван Иванов</p>
                <span>написал Вам сообщение:</span>
            </div>
            <div class="text">
                <p>Хочу предложить Вам выездную фотосессию ннннннннн</p>
            </div>
        </div>
    </div>
</div>