<!-- попап сообщение -->
<div class="overlay-deleteMsg overlayPopup">
    <div class="close"></div>
    <div class="deleteMsg__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Вы уверены что хотите <strong>удалить данное сообщение?</strong></p>
            <p>Отменить это действие будет <strong>невозможно</strong>.</p>
            <div class="btns-wrap">
                <a href="javascript:void(0)" class="remove">Удалить</a>
                <a href="javascript:void(0)" class="closeBtn cancel">Отмена</a>
            </div>
        </div>
    </div>
</div>
<!-- конец попап удалить сообщение -->




    
    