<!-- попап удалить диалог -->
<div class="overlay-deleteDialogue overlayPopup">
    <div class="close"></div>
    <div class="deleteDialogue__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Вы уверены что хотите <strong>удалить диалог</strong> c данным пользователем?</p>
            <p>Отменить это действие будет <strong>невозможно</strong>.</p>
            <div class="btns-wrap">
                <a href="javascript:void(0)" class="remove closeBtn open-successfulDel">Удалить</a>
                <a href="javascript:void(0)" class="closeBtn cancel">Отмена</a>
            </div>
        </div>
    </div>
</div>
<!-- конец попап удалить диалог -->

<div class="overlay-successfulDel overlayPopup">
        <div class="close"></div>
    <div class="successfulDel__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>История сообщений с пользователем Иван Иванов удалена.</p>
        </div>
    </div>
</div>
