<!-- попап подтвердить выбор исполнителя -->
<div class="overlay-prjPopup overlayPopup">
    <div class="close"></div>
    <div class="prjPopup__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Выбрать пользователя <strong>Иван Иванов</strong> исполнителем Вашего проекта “Необходимо снять на видео 8 мероприятий”?</p>
            <div class="btns-wrap">
                <a href="javascript:void(0)" class="accept closeBtn open-prjPopup2">Подтвердить</a>
                <a href="javascript:void(0)" class="closeBtn cancel">Отмена</a>
            </div>
        </div>
    </div>
</div>
<!-- конец попап подтвердить выбор исполнителя -->

<!-- попап выбор исполнителя подтвержден -->
<div class="overlay-prjPopup2 overlayPopup">
    <div class="close"></div>
    <div class="prjPopup2__popup">
        <span class="close-popup closeBtn"></span>
        <div class="content">
            <p>Вы выбрали <strong>Иван Иванов </strong>
                    исполнителем Вашего проекта. </p>
            <p>Вы можете оформить проект в сделку <a href="project-editing.html">здесь</a></p>
        </div>
    </div>
</div>
<!-- конец попап выбор исполнителя подтвержден -->
    
    
    
    
        
        