<header>
    <div class="header-content">
        <div class="container clearfix">
            <div class="userInfo clearfix">
                <a class="likes" href="javascript:void(0)"><i class="icon-icon3"></i></a>
                <a class="messages notifications_popup-open" href="javascript:void(0)">
                    <i class="icon-icon10"></i>
                    <span>21</span>
                </a>
                <a class="score" href="profile-products.html">Мои товары</a>
                <div class="info">
                    <div class="userName">
                        <p>Иван Иванов</p>
                        <span class="arrow"><i class="icon-icon28"></i></span>
                    </div>
                    <ul class="headerSetting">
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Мои сообщения</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-logo clearfix">
                <span class="open-menu">
                    <span></span>
                </span>
                <div class="mobile-mainMenu" id="mobile-mainMenu">
                    <span class="closeBtn"></span>
                    <div class="mobile-content">
                        <nav>
                            <ul>
                                <li class="active"><a href="specialists.html">Специалисты</a></li>
                                <li><a href="organizations.html">Организации</a></li>
                                <li><a href="events.html">События</a></li>
                                <li><a href="score.html">Магазин</a></li>
                            </ul>
                        </nav>
                        <ul class="social">
                            <li><a href="javascript:void(0)"><i class="icon-icon12"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon2"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="icon-icon18"></i></a></li>
                        </ul>
                    </div>
                </div>
                <a class="logo" href="index.html"><img src="../img/logo.png" alt=""></a>
                <form>
                    <input type="text">
                    <button><i class="icon-icon25"></i></button>
                </form>
                <nav class="desktop-mainMenu">
                    <ul>
                        <li class="active"><a href="specialists.html">Специалисты</a></li>
                        <li><a href="organizations.html">Организации</a></li>
                        <li><a href="events.html">События</a></li>
                        <li><a href="score.html">Магазин</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>